<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>JPL Wiki</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade|Ubuntu|Work+Sans:200,400" rel="stylesheet">
    <!-- Angular -->
    <script src="static/js/angular.js"></script>
    <script src="static/js/angular-ui-router.js"></script>
    <!-- Custom JS -->
    <script src="static/js/movie.js"></script>
</head>

<body ng-app="movies">
    <div class="container-fluid container1" ng-controller="HomeController">
        <div class="row row1">
            <div class="col-xs-12">
                <h1 class="title">Movies What</h1>
            </div>
            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <input class="searchInput" ng-change="search()" ng-model="query" type="text" name="total" placeholder="search">
            </div>
            <div class="col-xs-12 navButtons">
                <a ui-sref="now_playing" class="modeButton" ui-sref-active="link-active">Now Playing</a>
                <a ui-sref="popular" class="modeButton" ui-sref-active="link-active">Most Popular</a>
                <a ui-sref="top_rated" class="modeButton" ui-sref-active="link-active">Top Rated</a>
                <a ui-sref="upcoming" class="modeButton" ui-sref-active="link-active">Upcoming</a>
                <a ui-sref="search_results" ng-click="search()" class="modeButton" ui-sref-active="link-active">Search Results</a>
            </div>
            <div class="col-xs-12 navButtonsSelect">
                <select class="form-control selectDropDown" name="">
                    <option ui-sref="now_playing" class="opt option-inactive">Now Playing</option>
                    <option ui-sref="popular" class="opt option-inactive">Most Popular</option>
                </select>
            </div>
        </div>
        <div class="row row2">
            <ui-view class="uiview col-xs-11 col-sm-10"></ui-view>
        </div>
    </div>
</body>

<script src="static/js/jquery.js"></script>
<script src="static/js/bootstrap.min.js"></script>

</html>
